{
    "env": {
        "cjs":{
            "presets": [
                [ "modern-node", { "version": "0.12", "modules": "commonjs" } ],
                "stage-2"
            ]
        },
        "es":{
            "presets": [
                [ "modern-node", { "version": "0.12", "modules": false } ],
                "stage-2"
            ]
        },
    }
}
