# keep the npm package as small as possible
.babelrc
.editorconfig
.eslintrc
.travis.yml
Makefile
**/__tests__/**

# we ship lib/ after `make build`
src/

# archive created by `npm pack`
redux-storage-*.tgz
